{% extends 'base.html' %} 
 
{% block content %}

    <!-- Breadcrumb area start -->
    <div class="breadcrumb-area breadcrumb-style-1" style="background-image: url('../../static/assets/img/index/1.jpg');">
        <div class="container">
            <div class="row custom-gutter">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h1 class="page-title">Shop Items</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- Product item area start -->
    <div class="bloom-product-area margin-bottom-120 mobile-mb-50 tab-mb-80">
        <div class="container">
            <div class="row custom-gutter">
                {% for item in flower %}

                <!-- product-item -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="product-item text-center">
                        <div class="product-image">
                            <a href="{% url 'productdetails' id=item.id %}"><img src="../../static/assets/img/product/{{item.image}}" alt="Flower Image"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">Sale</li>
                                </ul>
                            </div>
                            <div class="product-action">
                                <ul>
                                    <li>
                                        <form action="{% url 'add_to_cart' id=item.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-dark text-white pt-1 pb-1 pl-5 pr-5" type="submit">Add to cart</button>
                                        </form>
                                    <li>
                                    <li><a href="{% url 'productdetails' id=item.id %}">Details</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-item-brief">
                            <h2 class="product-title"><a href="{% url 'productdetails' id=item.id %}">{{item.itemsid.name}}</a></h2>
                            <div class="product-price">
                                <del>SAR250</del>
                                <span>SAR{{item.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-md-12">
                    <div class="bloom-show-more-btn text-center margin-top-30 mobile-mt-30 tab-mt-30">
                        <div class="btn-wrapper">
                            <button class="boxed-btn btn-rounded" type="submit">No more results</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->

{% endblock %}
